version: "3.9"

services:
  frontend:
    build: ./front
    ports:
      - "5173:5173"
    volumes:
      - ./front/src:/app/src
      - ./front/index.html:/app/index.html
    env_file:
      - ./front/.env
    command: ["npm", "run", "dev", "--", "--host", "--port", "5173"]
    depends_on:
      - backend

  backend:
    build: ./back
    ports:
      - "3000:3000"
    volumes:
      - ./back:/app
    env_file:
      - ./back/.env
    depends_on:
      - db

  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: TalentoSinBarreras
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./bd:/docker-entrypoint-initdb.d

volumes:
  postgres_data:

